@media only screen and (max-width: 980px){ /* monitores normais */

.c980_0{width: 2.08333333333%;}.c980_1{width: 4.16666666667%;}.c980_2{width: 8.33333333333%;}.c980_3{width: 12.5%;}.c980_4{width: 16.6666666667%;}.c980_4b{width: 20%;}
.c980_5{width: 20.8333333333%;}.c980_6{width: 25%;}.c980_7{width: 29.1666666667%;}.c980_8{width: 33.3333333333%;}.c980_9{width: 37.5%;}
.c980_10{width: 41.6666666667%;}.c980_11{width: 45.8333333333%;}.c980_12{width: 50%;}.c980_13{width: 54.1666666667%;}.c980_14{width: 58.3333333333%;}
.c980_15{width: 62.5%;}.c980_16{width: 66.6666666667%;}.c980_17{width: 70.8333333333%;}.c980_18{width: 75%;}.c980_19{width: 79.1666666667%;}
.c980_20{width: 83.3333333333%;}.c980_21{width: 87.5%;}.c980_22{width: 91.6666666667%;}.c980_23{width: 95.8333333333%;}.c980_24{width: 100%;}

.c980_hide{display: none;}
.c980_show{display: block;}	
}

@media only screen and (max-width: 960px){ /* monitores normais */

.c960_0{width: 2.08333333333%;}.c960_1{width: 4.16666666667%;}.c960_2{width: 8.33333333333%;}.c960_3{width: 12.5%;}.c960_4{width: 16.6666666667%;}.c960_4b{width: 20%;}
.c960_5{width: 20.8333333333%;}.c960_6{width: 25%;}.c960_7{width: 29.1666666667%;}.c960_8{width: 33.3333333333%;}.c960_9{width: 37.5%;}
.c960_10{width: 41.6666666667%;}.c960_11{width: 45.8333333333%;}.c960_12{width: 50%;}.c960_13{width: 54.1666666667%;}.c960_14{width: 58.3333333333%;}
.c960_15{width: 62.5%;}.c960_16{width: 66.6666666667%;}.c960_17{width: 70.8333333333%;}.c960_18{width: 75%;}.c960_19{width: 79.1666666667%;}
.c960_20{width: 83.3333333333%;}.c960_21{width: 87.5%;}.c960_22{width: 91.6666666667%;}.c960_23{width: 95.8333333333%;}.c960_24{width: 100%;}

.c960_hide{display: none;}
.c960_show{display: block;}	
}
@media only screen and (max-width: 940px){ /* monitores normais */

.c940_0{width: 2.08333333333%;}.c940_1{width: 4.16666666667%;}.c940_2{width: 8.33333333333%;}.c940_3{width: 12.5%;}.c940_4{width: 16.6666666667%;}.c940_4b{width: 20%;}
.c940_5{width: 20.8333333333%;}.c940_6{width: 25%;}.c940_7{width: 29.1666666667%;}.c940_8{width: 33.3333333333%;}.c940_9{width: 37.5%;}
.c940_10{width: 41.6666666667%;}.c940_11{width: 45.8333333333%;}.c940_12{width: 50%;}.c940_13{width: 54.1666666667%;}.c940_14{width: 58.3333333333%;}
.c940_15{width: 62.5%;}.c940_16{width: 66.6666666667%;}.c940_17{width: 70.8333333333%;}.c940_18{width: 75%;}.c940_19{width: 79.1666666667%;}
.c940_20{width: 83.3333333333%;}.c940_21{width: 87.5%;}.c940_22{width: 91.6666666667%;}.c940_23{width: 95.8333333333%;}.c940_24{width: 100%;}

.c940_hide{display: none;}
.c940_show{display: block;}	
}
@media only screen and (max-width: 920px){ /* monitores normais */

.c920_0{width: 2.08333333333%;}.c920_1{width: 4.16666666667%;}.c920_2{width: 8.33333333333%;}.c920_3{width: 12.5%;}.c920_4{width: 16.6666666667%;}.c920_4b{width: 20%;}
.c920_5{width: 20.8333333333%;}.c920_6{width: 25%;}.c920_7{width: 29.1666666667%;}.c920_8{width: 33.3333333333%;}.c920_9{width: 37.5%;}
.c920_10{width: 41.6666666667%;}.c920_11{width: 45.8333333333%;}.c920_12{width: 50%;}.c920_13{width: 54.1666666667%;}.c920_14{width: 58.3333333333%;}
.c920_15{width: 62.5%;}.c920_16{width: 66.6666666667%;}.c920_17{width: 70.8333333333%;}.c920_18{width: 75%;}.c920_19{width: 79.1666666667%;}
.c920_20{width: 83.3333333333%;}.c920_21{width: 87.5%;}.c920_22{width: 91.6666666667%;}.c920_23{width: 95.8333333333%;}.c920_24{width: 100%;}

.c920_hide{display: none;}
.c920_show{display: block;}	
}
@media only screen and (max-width: 900px){ /* monitores normais */

.c900_0{width: 2.08333333333%;}.c900_1{width: 4.16666666667%;}.c900_2{width: 8.33333333333%;}.c900_3{width: 12.5%;}.c900_4{width: 16.6666666667%;}.c900_4b{width: 20%;}
.c900_5{width: 20.8333333333%;}.c900_6{width: 25%;}.c900_7{width: 29.1666666667%;}.c900_8{width: 33.3333333333%;}.c900_9{width: 37.5%;}
.c900_10{width: 41.6666666667%;}.c900_11{width: 45.8333333333%;}.c900_12{width: 50%;}.c900_13{width: 54.1666666667%;}.c900_14{width: 58.3333333333%;}
.c900_15{width: 62.5%;}.c900_16{width: 66.6666666667%;}.c900_17{width: 70.8333333333%;}.c900_18{width: 75%;}.c900_19{width: 79.1666666667%;}
.c900_20{width: 83.3333333333%;}.c900_21{width: 87.5%;}.c900_22{width: 91.6666666667%;}.c900_23{width: 95.8333333333%;}.c900_24{width: 100%;}

.c900_hide{display: none;}
.c900_show{display: block;}	
}
@media only screen and (max-width: 880px){ /* monitores normais */

.c880_0{width: 2.08333333333%;}.c880_1{width: 4.16666666667%;}.c880_2{width: 8.33333333333%;}.c880_3{width: 12.5%;}.c880_4{width: 16.6666666667%;}.c880_4b{width: 20%;}
.c880_5{width: 20.8333333333%;}.c880_6{width: 25%;}.c880_7{width: 29.1666666667%;}.c880_8{width: 33.3333333333%;}.c880_9{width: 37.5%;}
.c880_10{width: 41.6666666667%;}.c880_11{width: 45.8333333333%;}.c880_12{width: 50%;}.c880_13{width: 54.1666666667%;}.c880_14{width: 58.3333333333%;}
.c880_15{width: 62.5%;}.c880_16{width: 66.6666666667%;}.c880_17{width: 70.8333333333%;}.c880_18{width: 75%;}.c880_19{width: 79.1666666667%;}
.c880_20{width: 83.3333333333%;}.c880_21{width: 87.5%;}.c880_22{width: 91.6666666667%;}.c880_23{width: 95.8333333333%;}.c880_24{width: 100%;}

.c880_hide{display: none;}
.c880_show{display: block;}	
}
@media only screen and (max-width: 860px){ /* monitores pequenos */


.c860_0{width: 2.08333333333%;}.c860_1{width: 4.16666666667%;}.c860_2{width: 8.33333333333%;}.c860_3{width: 12.5%;}.c860_4{width: 16.6666666667%;}.c860_4b{width: 20%;}
.c860_5{width: 20.8333333333%;}.c860_6{width: 25%;}.c860_7{width: 29.1666666667%;}.c860_8{width: 33.3333333333%;}.c860_9{width: 37.5%;}
.c860_10{width: 41.6666666667%;}.c860_11{width: 45.8333333333%;}.c860_12{width: 50%;}.c860_13{width: 54.1666666667%;}.c860_14{width: 58.3333333333%;}
.c860_15{width: 62.5%;}.c860_16{width: 66.6666666667%;}.c860_17{width: 70.8333333333%;}.c860_18{width: 75%;}.c860_19{width: 79.1666666667%;}
.c860_20{width: 83.3333333333%;}.c860_21{width: 87.5%;}.c860_22{width: 91.6666666667%;}.c860_23{width: 95.8333333333%;}.c860_24{width: 100%;}

.c860_hide{display: none;}
.c860_show{display: block;}	
}
@media only screen and (max-width: 840px){ /* monitores pequenos */

.c1a{padding: 0px 2.5px;}  .c2a{padding: 0px 5px;}  .c3a{padding: 0px 7.5px;}  .c4a{padding: 0px 10px;}  .c5a{padding: 0px 12.5px;} .c6a{padding: 0px 15px;}
.c1b{padding: 2.5px;}      .c2b{padding: 5px;}      .c3b{padding: 7.5px;}      .c4b{padding: 10px;}      .c5b{padding: 12.5px;}     .c6b{padding: 15px;}
.c1c{padding: 2.5px  0px;} .c2c{padding: 5px 0px;}  .c3c{padding: 7.5px 0px;}  .c4c{padding: 10px 0px;}  .c5c{padding: 12.5px 0px;} .c6c{padding: 15px 0px;}

.c840_0{width: 2.08333333333%;}.c840_1{width: 4.16666666667%;}.c840_2{width: 8.33333333333%;}.c840_3{width: 12.5%;}.c840_4{width: 16.6666666667%;}.c840_4b{width: 20%;}
.c840_5{width: 20.8333333333%;}.c840_6{width: 25%;}.c840_7{width: 29.1666666667%;}.c840_8{width: 33.3333333333%;}.c840_9{width: 37.5%;}
.c840_10{width: 41.6666666667%;}.c840_11{width: 45.8333333333%;}.c840_12{width: 50%;}.c840_13{width: 54.1666666667%;}.c840_14{width: 58.3333333333%;}
.c840_15{width: 62.5%;}.c840_16{width: 66.6666666667%;}.c840_17{width: 70.8333333333%;}.c840_18{width: 75%;}.c840_19{width: 79.1666666667%;}
.c840_20{width: 83.3333333333%;}.c840_21{width: 87.5%;}.c840_22{width: 91.6666666667%;}.c840_23{width: 95.8333333333%;}.c840_24{width: 100%;}

.c840_hide{display: none;}
.c840_show{display: block;}	
}
@media only screen and (max-width: 820px){ /* monitores pequenos */


.c820_0{width: 2.08333333333%;}.c820_1{width: 4.16666666667%;}.c820_2{width: 8.33333333333%;}.c820_3{width: 12.5%;}.c820_4{width: 16.6666666667%;}.c820_4b{width: 20%;}
.c820_5{width: 20.8333333333%;}.c820_6{width: 25%;}.c820_7{width: 29.1666666667%;}.c820_8{width: 33.3333333333%;}.c820_9{width: 37.5%;}
.c820_10{width: 41.6666666667%;}.c820_11{width: 45.8333333333%;}.c820_12{width: 50%;}.c820_13{width: 54.1666666667%;}.c820_14{width: 58.3333333333%;}
.c820_15{width: 62.5%;}.c820_16{width: 66.6666666667%;}.c820_17{width: 70.8333333333%;}.c820_18{width: 75%;}.c820_19{width: 79.1666666667%;}
.c820_20{width: 83.3333333333%;}.c820_21{width: 87.5%;}.c820_22{width: 91.6666666667%;}.c820_23{width: 95.8333333333%;}.c820_24{width: 100%;}

.c820_hide{display: none;}
.c820_show{display: block;}	
}
@media only screen and (max-width: 800px){ /* monitores pequenos */


.c800_0{width: 2.08333333333%;}.c800_1{width: 4.16666666667%;}.c800_2{width: 8.33333333333%;}.c800_3{width: 12.5%;}.c800_4{width: 16.6666666667%;}.c800_4b{width: 20%;}
.c800_5{width: 20.8333333333%;}.c800_6{width: 25%;}.c800_7{width: 29.1666666667%;}.c800_8{width: 33.3333333333%;}.c800_9{width: 37.5%;}
.c800_10{width: 41.6666666667%;}.c800_11{width: 45.8333333333%;}.c800_12{width: 50%;}.c800_13{width: 54.1666666667%;}.c800_14{width: 58.3333333333%;}
.c800_15{width: 62.5%;}.c800_16{width: 66.6666666667%;}.c800_17{width: 70.8333333333%;}.c800_18{width: 75%;}.c800_19{width: 79.1666666667%;}
.c800_20{width: 83.3333333333%;}.c800_21{width: 87.5%;}.c800_22{width: 91.6666666667%;}.c800_23{width: 95.8333333333%;}.c800_24{width: 100%;}

.c800_hide{display: none;}
.c800_show{display: block;}	
}
@media only screen and (max-width: 780px){ /* notebooks padroes */

.c780_0{width: 2.08333333333%;}.c780_1{width: 4.16666666667%;}.c780_2{width: 8.33333333333%;}.c780_3{width: 12.5%;}.c780_4{width: 16.6666666667%;}.c780_4b{width: 20%;}
.c780_5{width: 20.8333333333%;}.c780_6{width: 25%;}.c780_7{width: 29.1666666667%;}.c780_8{width: 33.3333333333%;}.c780_9{width: 37.5%;}
.c780_10{width: 41.6666666667%;}.c780_11{width: 45.8333333333%;}.c780_12{width: 50%;}.c780_13{width: 54.1666666667%;}.c780_14{width: 58.3333333333%;}
.c780_15{width: 62.5%;}.c780_16{width: 66.6666666667%;}.c780_17{width: 70.8333333333%;}.c780_18{width: 75%;}.c780_19{width: 79.1666666667%;}
.c780_20{width: 83.3333333333%;}.c780_21{width: 87.5%;}.c780_22{width: 91.6666666667%;}.c780_23{width: 95.8333333333%;}.c780_24{width: 100%;}

.c780_hide{display: none;}
.c780_show{display: block;}
}
@media only screen and (max-width: 760px){ /* notebooks padroes */

.c760_0{width: 2.08333333333%;}.c760_1{width: 4.16666666667%;}.c760_2{width: 8.33333333333%;}.c760_3{width: 12.5%;}.c760_4{width: 16.6666666667%;}.c760_4b{width: 20%;}
.c760_5{width: 20.8333333333%;}.c760_6{width: 25%;}.c760_7{width: 29.1666666667%;}.c760_8{width: 33.3333333333%;}.c760_9{width: 37.5%;}
.c760_10{width: 41.6666666667%;}.c760_11{width: 45.8333333333%;}.c760_12{width: 50%;}.c760_13{width: 54.1666666667%;}.c760_14{width: 58.3333333333%;}
.c760_15{width: 62.5%;}.c760_16{width: 66.6666666667%;}.c760_17{width: 70.8333333333%;}.c760_18{width: 75%;}.c760_19{width: 79.1666666667%;}
.c760_20{width: 83.3333333333%;}.c760_21{width: 87.5%;}.c760_22{width: 91.6666666667%;}.c760_23{width: 95.8333333333%;}.c760_24{width: 100%;}

.c760_hide{display: none;}
.c760_show{display: block;}
}
@media only screen and (max-width: 740px){ /* notebooks padroes */

.c740_0{width: 2.08333333333%;}.c740_1{width: 4.16666666667%;}.c740_2{width: 8.33333333333%;}.c740_3{width: 12.5%;}.c740_4{width: 16.6666666667%;}.c740_4b{width: 20%;}
.c740_5{width: 20.8333333333%;}.c740_6{width: 25%;}.c740_7{width: 29.1666666667%;}.c740_8{width: 33.3333333333%;}.c740_9{width: 37.5%;}
.c740_10{width: 41.6666666667%;}.c740_11{width: 45.8333333333%;}.c740_12{width: 50%;}.c740_13{width: 54.1666666667%;}.c740_14{width: 58.3333333333%;}
.c740_15{width: 62.5%;}.c740_16{width: 66.6666666667%;}.c740_17{width: 70.8333333333%;}.c740_18{width: 75%;}.c740_19{width: 79.1666666667%;}
.c740_20{width: 83.3333333333%;}.c740_21{width: 87.5%;}.c740_22{width: 91.6666666667%;}.c740_23{width: 95.8333333333%;}.c740_24{width: 100%;}

.c740_hide{display: none;}
.c740_show{display: block;}
}
@media only screen and (max-width: 720px){ /* notebooks padroes */

.c720_0{width: 2.08333333333%;}.c720_1{width: 4.16666666667%;}.c720_2{width: 8.33333333333%;}.c720_3{width: 12.5%;}.c720_4{width: 16.6666666667%;}.c720_4b{width: 20%;}
.c720_5{width: 20.8333333333%;}.c720_6{width: 25%;}.c720_7{width: 29.1666666667%;}.c720_8{width: 33.3333333333%;}.c720_9{width: 37.5%;}
.c720_10{width: 41.6666666667%;}.c720_11{width: 45.8333333333%;}.c720_12{width: 50%;}.c720_13{width: 54.1666666667%;}.c720_14{width: 58.3333333333%;}
.c720_15{width: 62.5%;}.c720_16{width: 66.6666666667%;}.c720_17{width: 70.8333333333%;}.c720_18{width: 75%;}.c720_19{width: 79.1666666667%;}
.c720_20{width: 83.3333333333%;}.c720_21{width: 87.5%;}.c720_22{width: 91.6666666667%;}.c720_23{width: 95.8333333333%;}.c720_24{width: 100%;}

.c720_hide{display: none;}
.c720_show{display: block;}
}
@media only screen and (max-width: 700px){ /* notebooks padroes */

.c700_0{width: 2.08333333333%;}.c700_1{width: 4.16666666667%;}.c700_2{width: 8.33333333333%;}.c700_3{width: 12.5%;}.c700_4{width: 16.6666666667%;}.c700_4b{width: 20%;}
.c700_5{width: 20.8333333333%;}.c700_6{width: 25%;}.c700_7{width: 29.1666666667%;}.c700_8{width: 33.3333333333%;}.c700_9{width: 37.5%;}
.c700_10{width: 41.6666666667%;}.c700_11{width: 45.8333333333%;}.c700_12{width: 50%;}.c700_13{width: 54.1666666667%;}.c700_14{width: 58.3333333333%;}
.c700_15{width: 62.5%;}.c700_16{width: 66.6666666667%;}.c700_17{width: 70.8333333333%;}.c700_18{width: 75%;}.c700_19{width: 79.1666666667%;}
.c700_20{width: 83.3333333333%;}.c700_21{width: 87.5%;}.c700_22{width: 91.6666666667%;}.c700_23{width: 95.8333333333%;}.c700_24{width: 100%;}

.c700_hide{display: none;}
.c700_show{display: block;}
}
@media only screen and (max-width: 680px){ /* tablet tela grande */

.c680_0{width: 2.08333333333%;}.c680_1{width: 4.16666666667%;}.c680_2{width: 8.33333333333%;}.c680_3{width: 12.5%;}.c680_4{width: 16.6666666667%;}.c680_4b{width: 20%;}
.c680_5{width: 20.8333333333%;}.c680_6{width: 25%;}.c680_7{width: 29.1666666667%;}.c680_8{width: 33.3333333333%;}.c680_9{width: 37.5%;}
.c680_10{width: 41.6666666667%;}.c680_11{width: 45.8333333333%;}.c680_12{width: 50%;}.c680_13{width: 54.1666666667%;}.c680_14{width: 58.3333333333%;}
.c680_15{width: 62.5%;}.c680_16{width: 66.6666666667%;}.c680_17{width: 70.8333333333%;}.c680_18{width: 75%;}.c680_19{width: 79.1666666667%;}
.c680_20{width: 83.3333333333%;}.c680_21{width: 87.5%;}.c680_22{width: 91.6666666667%;}.c680_23{width: 95.8333333333%;}.c680_24{width: 100%;}

.c680_hide{display: none;}
.c680_show{display: block;}	
}
@media only screen and (max-width: 660px){ /* tablet tela grande */

.c660_0{width: 2.08333333333%;}.c660_1{width: 4.16666666667%;}.c660_2{width: 8.33333333333%;}.c660_3{width: 12.5%;}.c660_4{width: 16.6666666667%;}.c660_4b{width: 20%;}
.c660_5{width: 20.8333333333%;}.c660_6{width: 25%;}.c660_7{width: 29.1666666667%;}.c660_8{width: 33.3333333333%;}.c660_9{width: 37.5%;}
.c660_10{width: 41.6666666667%;}.c660_11{width: 45.8333333333%;}.c660_12{width: 50%;}.c660_13{width: 54.1666666667%;}.c660_14{width: 58.3333333333%;}
.c660_15{width: 62.5%;}.c660_16{width: 66.6666666667%;}.c660_17{width: 70.8333333333%;}.c660_18{width: 75%;}.c660_19{width: 79.1666666667%;}
.c660_20{width: 83.3333333333%;}.c660_21{width: 87.5%;}.c660_22{width: 91.6666666667%;}.c660_23{width: 95.8333333333%;}.c660_24{width: 100%;}

.c660_hide{display: none;}
.c660_show{display: block;}	
}
@media only screen and (max-width: 640px){ /* tablet tela grande */

.c640_0{width: 2.08333333333%;}.c640_1{width: 4.16666666667%;}.c640_2{width: 8.33333333333%;}.c640_3{width: 12.5%;}.c640_4{width: 16.6666666667%;}.c640_4b{width: 20%;}
.c640_5{width: 20.8333333333%;}.c640_6{width: 25%;}.c640_7{width: 29.1666666667%;}.c640_8{width: 33.3333333333%;}.c640_9{width: 37.5%;}
.c640_10{width: 41.6666666667%;}.c640_11{width: 45.8333333333%;}.c640_12{width: 50%;}.c640_13{width: 54.1666666667%;}.c640_14{width: 58.3333333333%;}
.c640_15{width: 62.5%;}.c640_16{width: 66.6666666667%;}.c640_17{width: 70.8333333333%;}.c640_18{width: 75%;}.c640_19{width: 79.1666666667%;}
.c640_20{width: 83.3333333333%;}.c640_21{width: 87.5%;}.c640_22{width: 91.6666666667%;}.c640_23{width: 95.8333333333%;}.c640_24{width: 100%;}

.c640_hide{display: none;}
.c640_show{display: block;}	
}
@media only screen and (max-width: 620px){ /* tablet tela grande */

.c620_0{width: 2.08333333333%;}.c620_1{width: 4.16666666667%;}.c620_2{width: 8.33333333333%;}.c620_3{width: 12.5%;}.c620_4{width: 16.6666666667%;}.c620_4b{width: 20%;}
.c620_5{width: 20.8333333333%;}.c620_6{width: 25%;}.c620_7{width: 29.1666666667%;}.c620_8{width: 33.3333333333%;}.c620_9{width: 37.5%;}
.c620_10{width: 41.6666666667%;}.c620_11{width: 45.8333333333%;}.c620_12{width: 50%;}.c620_13{width: 54.1666666667%;}.c620_14{width: 58.3333333333%;}
.c620_15{width: 62.5%;}.c620_16{width: 66.6666666667%;}.c620_17{width: 70.8333333333%;}.c620_18{width: 75%;}.c620_19{width: 79.1666666667%;}
.c620_20{width: 83.3333333333%;}.c620_21{width: 87.5%;}.c620_22{width: 91.6666666667%;}.c620_23{width: 95.8333333333%;}.c620_24{width: 100%;}

.c620_hide{display: none;}
.c620_show{display: block;}	
}
@media only screen and (max-width: 600px){ /* tablet paisagem */

.c600_0{width: 2.08333333333%;}.c600_1{width: 4.16666666667%;}.c600_2{width: 8.33333333333%;}.c600_3{width: 12.5%;}.c600_4{width: 16.6666666667%;}.c600_4b{width: 20%;}
.c600_5{width: 20.8333333333%;}.c600_6{width: 25%;}.c600_7{width: 29.1666666667%;}.c600_8{width: 33.3333333333%;}.c600_9{width: 37.5%;}
.c600_10{width: 41.6666666667%;}.c600_11{width: 45.8333333333%;}.c600_12{width: 50%;}.c600_13{width: 54.1666666667%;}.c600_14{width: 58.3333333333%;}
.c600_15{width: 62.5%;}.c600_16{width: 66.6666666667%;}.c600_17{width: 70.8333333333%;}.c600_18{width: 75%;}.c600_19{width: 79.1666666667%;}
.c600_20{width: 83.3333333333%;}.c600_21{width: 87.5%;}.c600_22{width: 91.6666666667%;}.c600_23{width: 95.8333333333%;}.c600_24{width: 100%;}

.c600_hide{display: none;}
.c600_show{display: block;}		
}
@media only screen and (max-width: 580px){ /* tablet paisagem */

.c580_0{width: 2.08333333333%;}.c580_1{width: 4.16666666667%;}.c580_2{width: 8.33333333333%;}.c580_3{width: 12.5%;}.c580_4{width: 16.6666666667%;}.c580_4b{width: 20%;}
.c580_5{width: 20.8333333333%;}.c580_6{width: 25%;}.c580_7{width: 29.1666666667%;}.c580_8{width: 33.3333333333%;}.c580_9{width: 37.5%;}
.c580_10{width: 41.6666666667%;}.c580_11{width: 45.8333333333%;}.c580_12{width: 50%;}.c580_13{width: 54.1666666667%;}.c580_14{width: 58.3333333333%;}
.c580_15{width: 62.5%;}.c580_16{width: 66.6666666667%;}.c580_17{width: 70.8333333333%;}.c580_18{width: 75%;}.c580_19{width: 79.1666666667%;}
.c580_20{width: 83.3333333333%;}.c580_21{width: 87.5%;}.c580_22{width: 91.6666666667%;}.c580_23{width: 95.8333333333%;}.c580_24{width: 100%;}

.c580_hide{display: none;}
.c580_show{display: block;}		
}
@media only screen and (max-width: 560px){ /* tablet paisagem */

.c560_0{width: 2.08333333333%;}.c560_1{width: 4.16666666667%;}.c560_2{width: 8.33333333333%;}.c560_3{width: 12.5%;}.c560_4{width: 16.6666666667%;}.c560_4b{width: 20%;}
.c560_5{width: 20.8333333333%;}.c560_6{width: 25%;}.c560_7{width: 29.1666666667%;}.c560_8{width: 33.3333333333%;}.c560_9{width: 37.5%;}
.c560_10{width: 41.6666666667%;}.c560_11{width: 45.8333333333%;}.c560_12{width: 50%;}.c560_13{width: 54.1666666667%;}.c560_14{width: 58.3333333333%;}
.c560_15{width: 62.5%;}.c560_16{width: 66.6666666667%;}.c560_17{width: 70.8333333333%;}.c560_18{width: 75%;}.c560_19{width: 79.1666666667%;}
.c560_20{width: 83.3333333333%;}.c560_21{width: 87.5%;}.c560_22{width: 91.6666666667%;}.c560_23{width: 95.8333333333%;}.c560_24{width: 100%;}

.c560_hide{display: none;}
.c560_show{display: block;}		
}
@media only screen and (max-width: 540px){ /* tablet porta retrato */

.c540_0{width: 2.08333333333%;}.c540_1{width: 4.16666666667%;}.c540_2{width: 8.33333333333%;}.c540_3{width: 12.5%;}.c540_4{width: 16.6666666667%;}.c540_4b{width: 20%;}
.c540_5{width: 20.8333333333%;}.c540_6{width: 25%;}.c540_7{width: 29.1666666667%;}.c540_8{width: 33.3333333333%;}.c540_9{width: 37.5%;}
.c540_10{width: 41.6666666667%;}.c540_11{width: 45.8333333333%;}.c540_12{width: 50%;}.c540_13{width: 54.1666666667%;}.c540_14{width: 58.3333333333%;}
.c540_15{width: 62.5%;}.c540_16{width: 66.6666666667%;}.c540_17{width: 70.8333333333%;}.c540_18{width: 75%;}.c540_19{width: 79.1666666667%;}
.c540_20{width: 83.3333333333%;}.c540_21{width: 87.5%;}.c540_22{width: 91.6666666667%;}.c540_23{width: 95.8333333333%;}.c540_24{width: 100%;}

.c540_hide{display: none;}
.c540_show{display: block;}	
}
@media only screen and (max-width: 520px){ /* tablet porta retrato */

.c520_0{width: 2.08333333333%;}.c520_1{width: 4.16666666667%;}.c520_2{width: 8.33333333333%;}.c520_3{width: 12.5%;}.c520_4{width: 16.6666666667%;}.c520_4b{width: 20%;}
.c520_5{width: 20.8333333333%;}.c520_6{width: 25%;}.c520_7{width: 29.1666666667%;}.c520_8{width: 33.3333333333%;}.c520_9{width: 37.5%;}
.c520_10{width: 41.6666666667%;}.c520_11{width: 45.8333333333%;}.c520_12{width: 50%;}.c520_13{width: 54.1666666667%;}.c520_14{width: 58.3333333333%;}
.c520_15{width: 62.5%;}.c520_16{width: 66.6666666667%;}.c520_17{width: 70.8333333333%;}.c520_18{width: 75%;}.c520_19{width: 79.1666666667%;}
.c520_20{width: 83.3333333333%;}.c520_21{width: 87.5%;}.c520_22{width: 91.6666666667%;}.c520_23{width: 95.8333333333%;}.c520_24{width: 100%;}

.c520_hide{display: none;}
.c520_show{display: block;}	
}
@media only screen and (max-width: 500px){ /* tablet porta retrato */

.c500_0{width: 2.08333333333%;}.c500_1{width: 4.16666666667%;}.c500_2{width: 8.33333333333%;}.c500_3{width: 12.5%;}.c500_4{width: 16.6666666667%;}.c500_4b{width: 20%;}
.c500_5{width: 20.8333333333%;}.c500_6{width: 25%;}.c500_7{width: 29.1666666667%;}.c500_8{width: 33.3333333333%;}.c500_9{width: 37.5%;}
.c500_10{width: 41.6666666667%;}.c500_11{width: 45.8333333333%;}.c500_12{width: 50%;}.c500_13{width: 54.1666666667%;}.c500_14{width: 58.3333333333%;}
.c500_15{width: 62.5%;}.c500_16{width: 66.6666666667%;}.c500_17{width: 70.8333333333%;}.c500_18{width: 75%;}.c500_19{width: 79.1666666667%;}
.c500_20{width: 83.3333333333%;}.c500_21{width: 87.5%;}.c500_22{width: 91.6666666667%;}.c500_23{width: 95.8333333333%;}.c500_24{width: 100%;}

.c500_hide{display: none;}
.c500_show{display: block;}	
}
@media only screen and (max-width: 480px){ /* tablet porta retrato */

.c480_0{width: 2.08333333333%;}.c480_1{width: 4.16666666667%;}.c480_2{width: 8.33333333333%;}.c480_3{width: 12.5%;}.c480_4{width: 16.6666666667%;}.c480_4b{width: 20%;}
.c480_5{width: 20.8333333333%;}.c480_6{width: 25%;}.c480_7{width: 29.1666666667%;}.c480_8{width: 33.3333333333%;}.c480_9{width: 37.5%;}
.c480_10{width: 41.6666666667%;}.c480_11{width: 45.8333333333%;}.c480_12{width: 50%;}.c480_13{width: 54.1666666667%;}.c480_14{width: 58.3333333333%;}
.c480_15{width: 62.5%;}.c480_16{width: 66.6666666667%;}.c480_17{width: 70.8333333333%;}.c480_18{width: 75%;}.c480_19{width: 79.1666666667%;}
.c480_20{width: 83.3333333333%;}.c480_21{width: 87.5%;}.c480_22{width: 91.6666666667%;}.c480_23{width: 95.8333333333%;}.c480_24{width: 100%;}

.c480_hide{display: none;}
.c480_show{display: block;}	
}
@media only screen and (max-width: 460px){ /* tablet porta retrato */

.c460_0{width: 2.08333333333%;}.c460_1{width: 4.16666666667%;}.c460_2{width: 8.33333333333%;}.c460_3{width: 12.5%;}.c460_4{width: 16.6666666667%;}.c460_4b{width: 20%;}
.c460_5{width: 20.8333333333%;}.c460_6{width: 25%;}.c460_7{width: 29.1666666667%;}.c460_8{width: 33.3333333333%;}.c460_9{width: 37.5%;}
.c460_10{width: 41.6666666667%;}.c460_11{width: 45.8333333333%;}.c460_12{width: 50%;}.c460_13{width: 54.1666666667%;}.c460_14{width: 58.3333333333%;}
.c460_15{width: 62.5%;}.c460_16{width: 66.6666666667%;}.c460_17{width: 70.8333333333%;}.c460_18{width: 75%;}.c460_19{width: 79.1666666667%;}
.c460_20{width: 83.3333333333%;}.c460_21{width: 87.5%;}.c460_22{width: 91.6666666667%;}.c460_23{width: 95.8333333333%;}.c460_24{width: 100%;}

.c460_hide{display: none;}
.c460_show{display: block;}	
}
@media only screen and (max-width: 440px){ /* celulares paisagem */



.c440_0{width: 2.08333333333%;}.c440_1{width: 4.16666666667%;}.c440_2{width: 8.33333333333%;}.c440_3{width: 12.5%;}.c440_4{width: 16.6666666667%;}.c440_4b{width: 20%;}
.c440_5{width: 20.8333333333%;}.c440_6{width: 25%;}.c440_7{width: 29.1666666667%;}.c440_8{width: 33.3333333333%;}.c440_9{width: 37.5%;}
.c440_10{width: 41.6666666667%;}.c440_11{width: 45.8333333333%;}.c440_12{width: 50%;}.c440_13{width: 54.1666666667%;}.c440_14{width: 58.3333333333%;}
.c440_15{width: 62.5%;}.c440_16{width: 66.6666666667%;}.c440_17{width: 70.8333333333%;}.c440_18{width: 75%;}.c440_19{width: 79.1666666667%;}
.c440_20{width: 83.3333333333%;}.c440_21{width: 87.5%;}.c440_22{width: 91.6666666667%;}.c440_23{width: 95.8333333333%;}.c440_24{width: 100%;}

.c440_hide{display: none;}
.c440_show{display: block;}	
}
@media only screen and (max-width: 420px){ /* celulares paisagem */

.c420_0{width: 2.08333333333%;}.c420_1{width: 4.16666666667%;}.c420_2{width: 8.33333333333%;}.c420_3{width: 12.5%;}.c420_4{width: 16.6666666667%;}.c420_4b{width: 20%;}
.c420_5{width: 20.8333333333%;}.c420_6{width: 25%;}.c420_7{width: 29.1666666667%;}.c420_8{width: 33.3333333333%;}.c420_9{width: 37.5%;}
.c420_10{width: 41.6666666667%;}.c420_11{width: 45.8333333333%;}.c420_12{width: 50%;}.c420_13{width: 54.1666666667%;}.c420_14{width: 58.3333333333%;}
.c420_15{width: 62.5%;}.c420_16{width: 66.6666666667%;}.c420_17{width: 70.8333333333%;}.c420_18{width: 75%;}.c420_19{width: 79.1666666667%;}
.c420_20{width: 83.3333333333%;}.c420_21{width: 87.5%;}.c420_22{width: 91.6666666667%;}.c420_23{width: 95.8333333333%;}.c420_24{width: 100%;}

.c420_hide{display: none;}
.c420_show{display: block;}	
}
@media only screen and (max-width: 400px){ /* celulares paisagem */

.c1a{padding: 0px 1,25px;}  .c2a{padding: 0px 2.5px;}  .c3a{padding: 0px 3,25px;}  .c4a{padding: 0px 5px;}  .c5a{padding: 0px 6.25px;} .c6a{padding: 0px 7.5px;}
.c1b{padding: 1,25px;}      .c2b{padding: 2.5px;}      .c3b{padding: 3,25px;}      .c4b{padding: 5px;}      .c5b{padding: 6.25px;}     .c6b{padding: 7.5px;}
.c1c{padding: 1,25px  0px;} .c2c{padding: 2.5px 0px;}  .c3c{padding: 3,25px 0px;}  .c4c{padding: 5px 0px;}  .c5c{padding: 6.25px 0px;} .c6c{padding: 7.5px 0px;}

.c400_0{width: 2.08333333333%;}.c400_1{width: 4.16666666667%;}.c400_2{width: 8.33333333333%;}.c400_3{width: 12.5%;}.c400_4{width: 16.6666666667%;}.c400_4b{width: 20%;}
.c400_5{width: 20.8333333333%;}.c400_6{width: 25%;}.c400_7{width: 29.1666666667%;}.c400_8{width: 33.3333333333%;}.c400_9{width: 37.5%;}
.c400_10{width: 41.6666666667%;}.c400_11{width: 45.8333333333%;}.c400_12{width: 50%;}.c400_13{width: 54.1666666667%;}.c400_14{width: 58.3333333333%;}
.c400_15{width: 62.5%;}.c400_16{width: 66.6666666667%;}.c400_17{width: 70.8333333333%;}.c400_18{width: 75%;}.c400_19{width: 79.1666666667%;}
.c400_20{width: 83.3333333333%;}.c400_21{width: 87.5%;}.c400_22{width: 91.6666666667%;}.c400_23{width: 95.8333333333%;}.c400_24{width: 100%;}

.c400_hide{display: none;}
.c400_show{display: block;}	
}

@media only screen and (max-width: 380px){ /* celulares porta retrato */

.c380_0{width: 2.08333333333%;}.c380_1{width: 4.16666666667%;}.c380_2{width: 8.33333333333%;}.c380_3{width: 12.5%;}.c380_4{width: 16.6666666667%;}.c380_4b{width: 20%;}
.c380_5{width: 20.8333333333%;}.c380_6{width: 25%;}.c380_7{width: 29.1666666667%;}.c380_8{width: 33.3333333333%;}.c380_9{width: 37.5%;}
.c380_10{width: 41.6666666667%;}.c380_11{width: 45.8333333333%;}.c380_12{width: 50%;}.c380_13{width: 54.1666666667%;}.c380_14{width: 58.3333333333%;}
.c380_15{width: 62.5%;}.c380_16{width: 66.6666666667%;}.c380_17{width: 70.8333333333%;}.c380_18{width: 75%;}.c380_19{width: 79.1666666667%;}
.c380_20{width: 83.3333333333%;}.c380_21{width: 87.5%;}.c380_22{width: 91.6666666667%;}.c380_23{width: 95.8333333333%;}.c380_24{width: 100%;}

.c380_hide{display: none;}
.c380_show{display: block;}	
}

@media only screen and (max-width: 360px){ /* celulares porta retrato */

.c360_0{width: 2.08333333333%;}.c360_1{width: 4.16666666667%;}.c360_2{width: 8.33333333333%;}.c360_3{width: 12.5%;}.c360_4{width: 16.6666666667%;}.c360_4b{width: 20%;}
.c360_5{width: 20.8333333333%;}.c360_6{width: 25%;}.c360_7{width: 29.1666666667%;}.c360_8{width: 33.3333333333%;}.c360_9{width: 37.5%;}
.c360_10{width: 41.6666666667%;}.c360_11{width: 45.8333333333%;}.c360_12{width: 50%;}.c360_13{width: 54.1666666667%;}.c360_14{width: 58.3333333333%;}
.c360_15{width: 62.5%;}.c360_16{width: 66.6666666667%;}.c360_17{width: 70.8333333333%;}.c360_18{width: 75%;}.c360_19{width: 79.1666666667%;}
.c360_20{width: 83.3333333333%;}.c360_21{width: 87.5%;}.c360_22{width: 91.6666666667%;}.c360_23{width: 95.8333333333%;}.c360_24{width: 100%;}

.c360_hide{display: none;}
.c360_show{display: block;}	
}

@media only screen and (max-width: 340px){ /* celulares porta retrato */

.c340_0{width: 2.08333333333%;}.c340_1{width: 4.16666666667%;}.c340_2{width: 8.33333333333%;}.c340_3{width: 12.5%;}.c340_4{width: 16.6666666667%;}.c340_4b{width: 20%;}
.c340_5{width: 20.8333333333%;}.c340_6{width: 25%;}.c340_7{width: 29.1666666667%;}.c340_8{width: 33.3333333333%;}.c340_9{width: 37.5%;}
.c340_10{width: 41.6666666667%;}.c340_11{width: 45.8333333333%;}.c340_12{width: 50%;}.c340_13{width: 54.1666666667%;}.c340_14{width: 58.3333333333%;}
.c340_15{width: 62.5%;}.c340_16{width: 66.6666666667%;}.c340_17{width: 70.8333333333%;}.c340_18{width: 75%;}.c340_19{width: 79.1666666667%;}
.c340_20{width: 83.3333333333%;}.c340_21{width: 87.5%;}.c340_22{width: 91.6666666667%;}.c340_23{width: 95.8333333333%;}.c340_24{width: 100%;}

.c340_hide{display: none;}
.c340_show{display: block;}	
}

@media only screen and (max-width: 320px){ /* celulares porta retrato */

.c320_0{width: 2.08333333333%;}.c320_1{width: 4.16666666667%;}.c320_2{width: 8.33333333333%;}.c320_3{width: 12.5%;}.c320_4{width: 16.6666666667%;}.c320_4b{width: 20%;}
.c320_5{width: 20.8333333333%;}.c320_6{width: 25%;}.c320_7{width: 29.1666666667%;}.c320_8{width: 33.3333333333%;}.c320_9{width: 37.5%;}
.c320_10{width: 41.6666666667%;}.c320_11{width: 45.8333333333%;}.c320_12{width: 50%;}.c320_13{width: 54.1666666667%;}.c320_14{width: 58.3333333333%;}
.c320_15{width: 62.5%;}.c320_16{width: 66.6666666667%;}.c320_17{width: 70.8333333333%;}.c320_18{width: 75%;}.c320_19{width: 79.1666666667%;}
.c320_20{width: 83.3333333333%;}.c320_21{width: 87.5%;}.c320_22{width: 91.6666666667%;}.c320_23{width: 95.8333333333%;}.c320_24{width: 100%;}

.c320_hide{display: none;}
.c320_show{display: block;}	
}

@media only screen and (max-width: 300px){ /* celulares porta retrato */

.c300_0{width: 2.08333333333%;}.c300_1{width: 4.16666666667%;}.c300_2{width: 8.33333333333%;}.c300_3{width: 12.5%;}.c300_4{width: 16.6666666667%;}.c300_4b{width: 20%;}
.c300_5{width: 20.8333333333%;}.c300_6{width: 25%;}.c300_7{width: 29.1666666667%;}.c300_8{width: 33.3333333333%;}.c300_9{width: 37.5%;}
.c300_10{width: 41.6666666667%;}.c300_11{width: 45.8333333333%;}.c300_12{width: 50%;}.c300_13{width: 54.1666666667%;}.c300_14{width: 58.3333333333%;}
.c300_15{width: 62.5%;}.c300_16{width: 66.6666666667%;}.c300_17{width: 70.8333333333%;}.c300_18{width: 75%;}.c300_19{width: 79.1666666667%;}
.c300_20{width: 83.3333333333%;}.c300_21{width: 87.5%;}.c300_22{width: 91.6666666667%;}.c300_23{width: 95.8333333333%;}.c300_24{width: 100%;}

.c300_hide{display: none;}
.c300_show{display: block;}	
}

@media only screen and (max-width: 280px){ /* celulares porta retrato */

.c280_0{width: 2.08333333333%;}.c280_1{width: 4.16666666667%;}.c280_2{width: 8.33333333333%;}.c280_3{width: 12.5%;}.c280_4{width: 16.6666666667%;}.c280_4b{width: 20%;}
.c280_5{width: 20.8333333333%;}.c280_6{width: 25%;}.c280_7{width: 29.1666666667%;}.c280_8{width: 33.3333333333%;}.c280_9{width: 37.5%;}
.c280_10{width: 41.6666666667%;}.c280_11{width: 45.8333333333%;}.c280_12{width: 50%;}.c280_13{width: 54.1666666667%;}.c280_14{width: 58.3333333333%;}
.c280_15{width: 62.5%;}.c280_16{width: 66.6666666667%;}.c280_17{width: 70.8333333333%;}.c280_18{width: 75%;}.c280_19{width: 79.1666666667%;}
.c280_20{width: 83.3333333333%;}.c280_21{width: 87.5%;}.c280_22{width: 91.6666666667%;}.c280_23{width: 95.8333333333%;}.c280_24{width: 100%;}

.c280_hide{display: none;}
.c280_show{display: block;}	
}
@media only screen and (max-width: 260px){ /* celulares porta retrato */

.c260_0{width: 2.08333333333%;}.c260_1{width: 4.16666666667%;}.c260_2{width: 8.33333333333%;}.c260_3{width: 12.5%;}.c260_4{width: 16.6666666667%;}.c260_4b{width: 20%;}
.c260_5{width: 20.8333333333%;}.c260_6{width: 25%;}.c260_7{width: 29.1666666667%;}.c260_8{width: 33.3333333333%;}.c260_9{width: 37.5%;}
.c260_10{width: 41.6666666667%;}.c260_11{width: 45.8333333333%;}.c260_12{width: 50%;}.c260_13{width: 54.1666666667%;}.c260_14{width: 58.3333333333%;}
.c260_15{width: 62.5%;}.c260_16{width: 66.6666666667%;}.c260_17{width: 70.8333333333%;}.c260_18{width: 75%;}.c260_19{width: 79.1666666667%;}
.c260_20{width: 83.3333333333%;}.c260_21{width: 87.5%;}.c260_22{width: 91.6666666667%;}.c260_23{width: 95.8333333333%;}.c260_24{width: 100%;}

.c260_hide{display: none;}
.c260_show{display: block;}	
}

@media only screen and (max-width: 240px){ /* celulares porta retrato */

.c1a{padding: 0px 0.625px;}  .c2a{padding: 0px 1.25px;}  .c3a{padding: 0px 1.625px;}  .c4a{padding: 0px 2.5px;}  .c5a{padding: 0px 3.125px;} .c6a{padding: 0px 7.5px;}
.c1b{padding: 0.625px;}      .c2b{padding: 1.25px;}      .c3b{padding: 1.625px;}      .c4b{padding: 2.5px;}      .c5b{padding: 3.125px;}     .c6b{padding: 7.5px;}
.c1c{padding: 0.625px  0px;} .c2c{padding: 1.25px 0px;}  .c3c{padding: 1.625px 0px;}  .c4c{padding: 2.5px 0px;}  .c5c{padding: 3.125px 0px;} .c6c{padding: 7.5px 0px;}

.c240_0{width: 2.08333333333%;}.c240_1{width: 4.16666666667%;}.c240_2{width: 8.33333333333%;}.c240_3{width: 12.5%;}.c240_4{width: 16.6666666667%;}.c240_4b{width: 20%;}
.c240_5{width: 20.8333333333%;}.c240_6{width: 25%;}.c240_7{width: 29.1666666667%;}.c240_8{width: 33.3333333333%;}.c240_9{width: 37.5%;}
.c240_10{width: 41.6666666667%;}.c240_11{width: 45.8333333333%;}.c240_12{width: 50%;}.c240_13{width: 54.1666666667%;}.c240_14{width: 58.3333333333%;}
.c240_15{width: 62.5%;}.c240_16{width: 66.6666666667%;}.c240_17{width: 70.8333333333%;}.c240_18{width: 75%;}.c240_19{width: 79.1666666667%;}
.c240_20{width: 83.3333333333%;}.c240_21{width: 87.5%;}.c240_22{width: 91.6666666667%;}.c240_23{width: 95.8333333333%;}.c240_24{width: 100%;}

.c240_hide{display: none;}
.c240_show{display: block;}	
}

@media only screen and (max-width: 220px){ /* celulares porta retrato */

.c220_0{width: 2.08333333333%;}.c220_1{width: 4.16666666667%;}.c220_2{width: 8.33333333333%;}.c220_3{width: 12.5%;}.c220_4{width: 16.6666666667%;}.c220_4b{width: 20%;}
.c220_5{width: 20.8333333333%;}.c220_6{width: 25%;}.c220_7{width: 29.1666666667%;}.c220_8{width: 33.3333333333%;}.c220_9{width: 37.5%;}
.c220_10{width: 41.6666666667%;}.c220_11{width: 45.8333333333%;}.c220_12{width: 50%;}.c220_13{width: 54.1666666667%;}.c220_14{width: 58.3333333333%;}
.c220_15{width: 62.5%;}.c220_16{width: 66.6666666667%;}.c220_17{width: 70.8333333333%;}.c220_18{width: 75%;}.c220_19{width: 79.1666666667%;}
.c220_20{width: 83.3333333333%;}.c220_21{width: 87.5%;}.c220_22{width: 91.6666666667%;}.c220_23{width: 95.8333333333%;}.c220_24{width: 100%;}

.c220_hide{display: none;}
.c220_show{display: block;}	
}
